html,
body,
#root {
}

a {
  color: white;
}
a:link,
a:visited {
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar (not supported in Edge) */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
::-webkit-scrollbar-corner {
  display: none;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #d32f2f;
  border-radius: 8px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 32, 32);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
